<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Categories</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <h1>Pick a Show and Start Playing</h1>
    <a href="{% url 'home' %}">Back to Home</a>
    <div class="container">
        <div class="row">
            {% for category in categories %}
            <div class="col-md-4 mb-3">
                <a href="{% url 'category_questions' category.id %}" class="btn btn-primary btn-block">{{ category.name }}</a>
            </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>
